<div class="panel panel-primary">
    <div class="panel-heading">
      <h1 style="text-align:center">Admin Dashboard</h1>
      <h2 style="color: #0fb9b4;">Retailers List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>city</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let retailer of retailers | async">
            <td>{{ retailer.id }}</td>
            <td>{{ retailer.fname }}</td>
            <td>{{ retailer.lname}}</td>
            <td>{{ retailer.dob | date:'d/M/y'}}</td>
            <td>{{ retailer.city }}</td>
            <td><button (click)="deleteretailer(retailer.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button (click)="register()" class="btn btn-primary">Add Retailer</button>
    </div>
  </div>